[Unit]
Description=SaltyRTC signaling server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/srv/saltyrtc-server-python/venv/bin/saltyrtc-server serve -sc /path/to/cert.pem -sk /path/to/key.pem -dhp /path/to/dh_params.pem -k /path/to/permanent-keyfile -p 8765
WorkingDirectory=/srv/saltyrtc-server-python
User=saltyrtc
Group=saltyrtc
Restart=always
RestartSec=5
TimeoutStartSec=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
